<html>
	<head><title>Home</title></head>

<body>
	<h1> Hello </h1>

<!-- templates/home.html -->
<h1>Message board homepage</h1>
<ul>
{% for post in all_posts_list %}
<li>{{ post }}</li>
{% endfor %}
</ul>

</body>
</html>
